.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.home-heading {
  display: flex;
  font-size: 42px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  background: linear-gradient(
    to right,
    #0028ff,
    #00ffd5,
    #48ff00,
    #fffb00,
    #0028ff
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 6s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-intro {
  max-width: 430px;
  text-align: center;
  margin-bottom: 30px;
  color: rgba(252, 252, 252, 0.671);
}

.home-card-deck {
  margin-left: -35px;
}

.home-card-deck > img {
  height: 100px;
  filter: brightness(0.9);
  margin-right: -35px;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.home-card-deck > img:hover {
  filter: brightness(1);
  transform: translateY(-15%) scale(1.1);
}

.home-wild-card {
  rotate: -12deg;
  transition: 0.5s ease;
}

.home-blue-skip-card {
  rotate: 12deg;
  transition: 0.5s ease;
}

.home-plus-four-card {
  rotate: 0deg;
  transition: 0.5s ease;
}

