 h1 {
  display: flex;
  font-size: 42px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  background: linear-gradient(
    to right,
    #0028ff,
    #00ffd5,
    #48ff00,
    #fffb00,
    #0028ff
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 6s linear infinite;
}
